name: Container Image Scan - Trivy

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t devsecops-demo:latest docker

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: devsecops-demo:latest
          format: 'table'
          exit-code: '0'
          vuln-type: 'os,library'
          severity: 'HIGH,CRITICAL'
