name: SAST - Python Bandit Scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  bandit-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit on src/
        run: bandit -r src -f txt -o bandit-report.txt || true

      - name: Upload Bandit report
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report
          path: bandit-report.txt
